.header {
    background-color: #10BBD5;
    height: 72px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-content {
    display: flex;
    padding: 16px 82px;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.header-title {
    font-family: Cabin;
    font-size: 24px;
    font-weight: 700;
    position: relative;
}

.header-title a {
    text-decoration: none;
    color: #F8FDFE;
}

.header-title::before {
    content: "";
    background-image: url(../imgs/logo_book.svg);
    display: block;
    width: 26px;
    height: 24px;
    position: absolute;
    left: -30px;
    bottom: 2px;
}

.header-cart {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    position: relative;
}

.header-cart span {
    color: #000;
    position: absolute;
    font-size: 13px;
    z-index: 10;
    right: -20px;
    top: -2px;
}

.header-cart::after {
    content: '';
    background-image: url(../imgs/cart_icon.png);
    display: block;
    width: 36px;
    height: 38px;
    position: absolute;
    right: -28px;
    bottom: -10px;
}

.subheader {
    height: 32px;
    position: fixed;
    width: 100%;
    top: 72px;
    background-color: #fff;
    z-index: 100;
}

.subheader-content {
    display: flex;
    padding: 0 52px;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.subheader-content-title {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
}

.content-menu {
    display: flex;
    gap: 40px;
}

.content-menu-item {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
}

.content-menu-item a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: #EEEEEF;
    padding: 0 52px;
    padding-top: 136px;
    padding-bottom: 120px;
}

.menu-title {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
}

.main hr {
    background-color: #A8A8A8;
    margin: 23px 0;
}

.main-container {
    display: grid;
    grid-template-columns: 306px 306px 306px 306px;
    grid-template-rows: 512px 512px 512px;
    justify-content: space-between;
    row-gap: 32px;
}

.container-content {
    position: relative;
    background-color: #fff;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    box-sizing: border-box;
    z-index: 0;
}

.container-content-img {
    height: 280px;
    width: 178px;
    margin: 0 auto;
}

.content-book-name {
    color:  #1F1F1F;
    font-family: Cabin;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 6px;
    border-bottom: 1px solid gray;
}
.content-book-name a{
    text-decoration: none;
    color: #1f1f1f;
}

.content-book-author{
    color:  #8E8E8E;
    font-family: Cabin;
    font-size: 16px;
}

.content-book-price{
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    padding-top: 8px;
}

.book-availale{
    display: flex;
    width: 242px;
    height: 40px;
    background-color: #4C394E;
    color:#F8FDFE;
    align-items: center;
    justify-content: center;
    font-family: Cabin;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
}

.book-not-availale{
    display: flex;
    width: 242px;
    height: 40px;
    background-color: #4D762D;
    color:#F8FDFE;
    align-items: center;
    justify-content: center;
    font-family: Cabin;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    cursor: not-allowed;
}

.content-book-price span{
    color:#8E8E8E;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    text-decoration-line: line-through;
    padding-left: 24px;
}

.product-hit::before{
    content: 'Hit';
    position: absolute;
    text-decoration: none;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;    
    display: flex;
    width: 36px;
    height: 32px;
    background-color: #4200FF;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    top: 32px;
    left: 32px;
}

.product-new::before{
    content: 'New';
    position: absolute;
    text-decoration: none;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;   
    display: flex;
    padding: 4px 8px;
    width: 31px;
    height: 24px;
    background-color: #AF39E7;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    top: 32px;
    left: 32px;
}

.product-price::after{
    content: '10% off';
    position: absolute;
    text-decoration: none;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;   
    display: flex;
    background-color: #EA33C0;
    width: auto;
    padding: 4px 8px;
    border-radius: 4px;
    height: 32px;
    top: 32px;
    left: 72px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.product-price7::after{
    content: '7% off';
    position: absolute;
    text-decoration: none;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;   
    display: flex;
    background-color: #EA33C0;
    width: auto;
    padding: 4px 8px;
    border-radius: 4px;
    height: 32px;
    top: 32px;
    left: 72px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.product-price16::after{
    content: '16% off';
    position: absolute;
    text-decoration: none;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;   
    display: flex;
    background-color: #EA33C0;
    width: auto;
    padding: 4px 8px;
    border-radius: 4px;
    height: 32px;
    top: 32px;
    left: 72px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.product-price11::after{
    content: '11% off';
    position: absolute;
    text-decoration: none;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;   
    display: flex;
    background-color: #EA33C0;
    width: auto;
    padding: 4px 8px;
    border-radius: 4px;
    height: 32px;
    top: 32px;
    left: 84px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.product-price30::after{
    content: '30% off';
    position: absolute;
    text-decoration: none;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;   
    display: flex;
    background-color: #EA33C0;
    width: auto;
    padding: 4px 8px;
    border-radius: 4px;
    height: 32px;
    top: 32px;
    left: 84px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.product-price20::after{
    content: '20% off';
    position: absolute;
    text-decoration: none;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;   
    display: flex;
    background-color: #EA33C0;
    width: auto;
    padding: 4px 8px;
    border-radius: 4px;
    height: 32px;
    top: 32px;
    left: 32px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 88px;
    background-color: #4C394E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 52px;
}

.footer-date{
    color: var(--white, #F8FDFE);
    font-family: Cabin;
    font-size: 16px;
}

.footer-date img{
    height: 12px;
    width: 12px;
    color: white;
}

.footer-text{
    color: var(--white, #F8FDFE);
    font-family: Cabin;
    font-size: 16px;
}

.chat-icon{
    background-color: #10BBD5;
    border-radius: 50px;
    padding: 5px;
    position: fixed;
    bottom:24px;
    right: 24px;
}